In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("/kaggle/input/apple-stock-data-2025/apple_stock.csv")

In [6]:
tempdict = {'col1' : [1,2,3], 'col2':[4,5,6], 'col3':[7,8,9]}
dictdf = pd.DataFrame.from_dict(tempdict)

In [8]:
df.head(10)

   Unnamed: 0  Adj Close     Close      High       Low      Open     Volume
0  1980-12-12   0.098834  0.128348  0.128906  0.128348  0.128348  469033600
1  1980-12-15   0.093678  0.121652  0.122210  0.121652  0.122210  175884800
2  1980-12-16   0.086802  0.112723  0.113281  0.112723  0.113281  105728000
3  1980-12-17   0.088951  0.115513  0.116071  0.115513  0.115513   86441600
4  1980-12-18   0.091530  0.118862  0.119420  0.118862  0.118862   73449600
5  1980-12-19   0.097116  0.126116  0.126674  0.126116  0.126116   48630400
6  1980-12-22   0.101842  0.132254  0.132813  0.132254  0.132254   37363200
7  1980-12-23   0.106140  0.137835  0.138393  0.137835  0.137835   46950400
8  1980-12-24   0.111726  0.145089  0.145647  0.145089  0.145089   48003200
9  1980-12-26   0.122039  0.158482  0.159040  0.158482  0.158482   55574400

In [9]:
dictdf.head()

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [11]:
df.tail()

,Unnamed: 0,Adj Close,Close,High,Low,Open,Volume
11102,2024-12-27,255.589996,255.589996,258.700012,253.059998,257.829987,42355300
11103,2024-12-30,252.199997,252.199997,253.500000,250.750000,252.229996,35557500
11104,2024-12-31,250.419998,250.419998,253.279999,249.429993,252.440002,39480700
11105,2025-01-02,243.850006,243.850006,249.100006,241.820007,248.929993,55558000
11106,2025-01-03,243.860001,243.860001,244.179993,241.889999,243.369995,15135053

In [12]:
df.columns

Index(['Unnamed: 0', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [13]:
df.dtypes

Unnamed: 0     object
Adj Close     float64
Close         float64
High          float64
Low           float64
Open          float64
Volume          int64
dtype: object

In [14]:
df.describe()

,Adj Close,Close,High,Low,Open,Volume
count,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,1.110700e+04
mean,23.522229,24.357607,24.598169,24.092608,24.339076,3.154341e+08
std,49.767881,50.217498,50.691902,49.682631,50.166818,3.348735e+08
min,0.037815,0.049107,0.049665,0.049107,0.049665,0.000000e+00
25%,0.243402,0.300290,0.306362,0.292411,0.300090,1.111164e+08
50%,0.446682,0.542411,0.553393,0.534598,0.542679,2.036944e+08
75%,18.260086,21.397143,21.569285,21.115715,21.367679,3.960418e+08
max,259.019989,259.019989,260.100006,257.630005,258.190002,7.421641e+09

In [15]:
df.describe(include = "object")

        Unnamed: 0
count        11107
unique       11107
top     1980-12-12
freq             1

In [16]:
df.High

0          0.128906
1          0.122210
2          0.113281
3          0.116071
4          0.119420
            ...
11102    258.700012
11103    253.500000
11104    253.279999
11105    249.100006
11106    244.179993
Name: High, Length: 11107, dtype: float64

In [17]:
df.Volume

0        469033600
1        175884800
2        105728000
3         86441600
4         73449600
           ...
11102     42355300
11103     35557500
11104     39480700
11105     55558000
11106     15135053
Name: Volume, Length: 11107, dtype: int64

In [18]:
df.High.unique()

array([1.28905997e-01, 1.22210003e-01, 1.13280997e-01, ...,
       2.53279999e+02, 2.49100006e+02, 2.44179993e+02])

In [21]:
df.Volume.unique()

array([469033600, 175884800, 105728000, ...,  39480700,  55558000,
        15135053])

In [22]:
df.head()

   Unnamed: 0  Adj Close     Close      High       Low      Open     Volume
0  1980-12-12   0.098834  0.128348  0.128906  0.128348  0.128348  469033600
1  1980-12-15   0.093678  0.121652  0.122210  0.121652  0.122210  175884800
2  1980-12-16   0.086802  0.112723  0.113281  0.112723  0.113281  105728000
3  1980-12-17   0.088951  0.115513  0.116071  0.115513  0.115513   86441600
4  1980-12-18   0.091530  0.118862  0.119420  0.118862  0.118862   73449600

In [25]:
df.isnull().sum()

Unnamed: 0    0
Adj Close     0
Close         0
High          0
Low           0
Open          0
Volume        0
dtype: int64

In [33]:
print(df[['High','Volume']])

             High     Volume
0        0.128906  469033600
1        0.122210  175884800
2        0.113281  105728000
3        0.116071   86441600
4        0.119420   73449600
...           ...        ...
11102  258.700012   42355300
11103  253.500000   35557500
11104  253.279999   39480700
11105  249.100006   55558000
11106  244.179993   15135053

[11107 rows x 2 columns]

In [46]:
df['Maximum Number'] = df['High'].apply (lambda x : 'Max Value' if x > 200 else 'Min Value')
df.iloc[22:33]

,Unnamed: 0,Adj Close,Close,High,Low,Open,Volume,Maximum Number
22,1981-01-15,0.107429,0.139509,0.140625,0.139509,0.139509,14067200,Min Value
23,1981-01-16,0.106570,0.138393,0.138951,0.138393,0.138951,13395200,Min Value
24,1981-01-19,0.113015,0.146763,0.147321,0.146763,0.146763,41574400,Min Value
25,1981-01-20,0.109577,0.142299,0.142857,0.142299,0.142857,30083200,Min Value
26,1981-01-21,0.111726,0.145089,0.146205,0.145089,0.145089,15904000,Min Value
27,1981-01-22,0.113015,0.146763,0.147879,0.146763,0.146763,35548800,Min Value
28,1981-01-23,0.112585,0.146205,0.147321,0.146205,0.146763,11222400,Min Value
29,1981-01-26,0.110866,0.143973,0.144531,0.143973,0.144531,24640000,Min Value
30,1981-01-27,0.110007,0.142857,0.143973,0.142857,0.143973,23699200,Min Value
31,1981-01-28,0.106570,0.138393,0.138951,0.138393,0.138951,28156800,Min Value
32,1981-01-29,0.102702,0.133371,0.133929,0.133371,0.133929,43904000,Min Value

In [47]:
df.iloc[250:300]

,Unnamed: 0,Adj Close,Close,High,Low,Open,Volume,Maximum Number
250,1981-12-09,0.064887,0.084263,0.084821,0.084263,0.084263,34272000,Min Value
251,1981-12-10,0.064887,0.084263,0.084821,0.084263,0.084263,37408000,Min Value
252,1981-12-11,0.064457,0.083705,0.084821,0.083705,0.084263,76092800,Min Value
253,1981-12-14,0.062309,0.080915,0.082031,0.080915,0.082031,25244800,Min Value
254,1981-12-15,0.064027,0.083147,0.083705,0.083147,0.083147,31315200,Min Value
255,1981-12-16,0.067036,0.087054,0.087612,0.087054,0.087054,65452800,Min Value
256,1981-12-17,0.072622,0.094308,0.094866,0.094308,0.094308,51452800,Min Value
257,1981-12-18,0.078638,0.102121,0.102679,0.102121,0.102121,71724800,Min Value
258,1981-12-21,0.075200,0.097656,0.098214,0.097656,0.098214,56403200,Min Value
259,1981-12-22,0.076489,0.099330,0.099888,0.099330,0.099330,53827200,Min Value
260,1981-12-23,0.074770,0.097098,0.097656,0.097098,0.097656,28896000,Min Value
261,1981-12-24,0.075200,0.097656,0.098214,0.097656,0.097656,28918400,Min Value
262,1981-12-28,0.071763,0.093192,0.094308,0.093192,0.094308,36579200,Min Value
263,1981-12-29,0.073052,0.094866,0.095982,0.094866,0.094866,24236800,Min Value
264,1981-12-30,0.076059,0.098772,0.099330,0.098772,0.098772,32188800,Min Value
265,1981-12-31,0.076059,0.098772,0.099330,0.098772,0.098772,54656000,Min Value
266,1982-01-04,0.075630,0.098214,0.098772,0.098214,0.098772,71254400,Min Value
267,1982-01-05,0.071763,0.093192,0.094308,0.093192,0.094308,35840000,Min Value
268,1982-01-06,0.070903,0.092076,0.092634,0.092076,0.092634,66080000,Min Value
269,1982-01-07,0.065316,0.084821,0.085938,0.084821,0.085938,70044800,Min Value
270,1982-01-08,0.068325,0.088728,0.089286,0.088728,0.088728,56604800,Min Value
271,1982-01-11,0.064027,0.083147,0.083705,0.083147,0.083705,33331200,Min Value
272,1982-01-12,0.061879,0.080357,0.080915,0.080357,0.080915,59920000,Min Value
273,1982-01-13,0.061449,0.079799,0.080357,0.079799,0.080357,41753600,Min Value
274,1982-01-14,0.064457,0.083705,0.084263,0.083705,0.083705,25715200,Min Value
275,1982-01-15,0.068755,0.089286,0.090402,0.089286,0.089286,46704000,Min Value
276,1982-01-18,0.070044,0.090960,0.092076,0.090960,0.090960,28000000,Min Value
277,1982-01-19,0.068325,0.088728,0.089844,0.088728,0.089844,55507200,Min Value
278,1982-01-20,0.069614,0.090402,0.090960,0.090402,0.090402,25827200,Min Value
279,1982-01-21,0.070903,0.092076,0.092634,0.092076,0.092076,33331200,Min Value
280,1982-01-22,0.071333,0.092634,0.093192,0.092634,0.092634,24259200,Min Value
281,1982-01-25,0.069184,0.089844,0.090402,0.089844,0.090402,44710400,Min Value
282,1982-01-26,0.066606,0.086496,0.087612,0.086496,0.087612,21212800,Min Value
283,1982-01-27,0.067036,0.087054,0.088170,0.087054,0.087054,31360000,Min Value
284,1982-01-28,0.069184,0.089844,0.090402,0.089844,0.089844,39603200,Min Value
285,1982-01-29,0.070044,0.090960,0.091518,0.090960,0.090960,53155200,Min Value
286,1982-02-01,0.069184,0.089844,0.090960,0.089844,0.090960,38528000,Min Value
287,1982-02-02,0.069614,0.090402,0.091518,0.090402,0.090402,54275200,Min Value
288,1982-02-03,0.069614,0.090402,0.090960,0.090402,0.090402,31472000,Min Value
289,1982-02-04,0.067895,0.088170,0.088728,0.088170,0.088728,22041600,Min Value
290,1982-02-05,0.067895,0.088170,0.088728,0.088170,0.088170,40297600,Min Value
291,1982-02-08,0.063598,0.082589,0.083147,0.082589,0.083147,31696000,Min Value
292,1982-02-09,0.063598,0.082589,0.083147,0.082589,0.082589,57904000,Min Value
293,1982-02-10,0.064457,0.083705,0.084263,0.083705,0.083705,38796800,Min Value
294,1982-02-11,0.063598,0.082589,0.083147,0.082589,0.083147,24528000,Min Value
295,1982-02-12,0.064457,0.083705,0.084263,0.083705,0.083705,19644800,Min Value
296,1982-02-16,0.063168,0.082031,0.082589,0.082031,0.082589,34316800,Min Value
297,1982-02-17,0.064027,0.083147,0.083705,0.083147,0.083147,25580800,Min Value
298,1982-02-18,0.064887,0.084263,0.084821,0.084263,0.084263,28380800,Min Value
299,1982-02-19,0.064457,0.083705,0.084263,0.083705,0.084263,13596800,Min Value

In [50]:
output = df[df['Maximum Number'] == 'Max Value']['High']
print(output)

10964    207.160004
10965    220.199997
10966    216.750000
10967    215.169998
10968    218.949997
            ...
11102    258.700012
11103    253.500000
11104    253.279999
11105    249.100006
11106    244.179993
Name: High, Length: 143, dtype: float64

In [53]:
new_output = df[df['Maximum Number'] == 'Min Value']['High']
print(new_output)

0          0.128906
1          0.122210
2          0.113281
3          0.116071
4          0.119420
            ...
10959    195.320007
10960    196.899994
10961    196.500000
10962    196.940002
10963    197.300003
Name: High, Length: 10964, dtype: float64

In [57]:
next_output = df[df['Adj Close'] > 0.064887 ]['Maximum Number']
print(next_output)

0        Min Value
1        Min Value
2        Min Value
3        Min Value
4        Min Value
           ...
11102    Max Value
11103    Max Value
11104    Max Value
11105    Max Value
11106    Max Value
Name: Maximum Number, Length: 10774, dtype: object